.textos1 {
  font-weight: bold;
}

.img {
  background-repeat: no-repeat;
  width: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;

}

.text-decorator-none {
  text-decoration: none;
}